{
  "root": true,
  "extends": [
    "lxsmnsyc/typescript/react"
  ],
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "react/destructuring-assignment": "off",
    "react/no-unknown-property": "off"
  }
}